- @page_title='Contact'

%section
  %ul
    %img(src="http://www.gravatar.com/avatar/6377451175704e2d367ce508bffc1fa5")
    <a href="http://ongaeshi.me/">ongaeshi</a> - <a href="mailto:ongaeshi0621@gmail.com">ongaeshi0621@gmail.com</a>

    %section
      %h3 Reference
      %ul
        %li <a href="http://coderay.rubychan.de/">CodeRay</a>
