- @page_title='History'
- @stylesheet = 'css/style.css'

%section
  %h1 History
  %dl
    %dt 2011/06/29
    %dd Using <a href="http://sinatra-easy-template.ongaeshi.me/">Sinatra Easy Template</a>
    %dt 2011/06/19
    %dd Start.
    
