- @page_title = 'UcodeView'

%section
  %p Please input src code URL, Src code highlight using <a href="http://coderay.rubychan.de/">CodeRay</a>.
  %form(action='/view' method='get' name='view')
    %p
      #input
        %textarea(type='q' name='q' placeholder="http://www.emacswiki.org/emacs/download/tortoise-svn.el" rows="9" cols="74")
      %input(type='submit' value='OK')

  %h2 Example
  Specify raw code URL.
  :blockcode
    http://repo.or.cz/w/TortoiseGit.git/blob_plain/b56d7d297b615937e4a663a533349ede77e9cd9b:/src/TortoiseProc/AppUtils.h
    http://google-web-toolkit.googlecode.com/svn/trunk/dev/core/src/com/google/gwt/core/ext/BadPropertyValueException.java

  Github and Emacswiki, auto convert to raw code URL.
  :blockcode
    https://github.com/bmizerany/sinatra/blob/work/lib/sinatra.rb
    http://www.emacswiki.org/emacs/tortoise-svn.el
  
  %h2 Sample Link
  %ul
    %li <a href="view?q=https%3A%2F%2Fgithub.com%2Fongaeshi%2Fucodeview%2Fblob%2Fmaster%2Fapp.rb%0D%0Ahttps%3A%2F%2Fgithub.com%2Fongaeshi%2Fucodeview%2Fblob%2Fmaster%2Flib%2Fucodeview%2Furl_code_viewer.rb%0D%0Ahttps%3A%2F%2Fgithub.com%2Fongaeshi%2Fucodeview%2Fblob%2Fmaster%2Flib%2Fucodeview%2Furl_converter.rb">UcodeView's main code.</a>
    %li <a href="view?q=https%3A%2F%2Fraw.github.com%2Fgithub%2Fgitignore%2Fmaster%2FC%2B%2B.gitignore%0D%0Ahttps%3A%2F%2Fraw.github.com%2Fgithub%2Fgitignore%2Fmaster%2FCSharp.gitignore%0D%0Ahttps%3A%2F%2Fraw.github.com%2Fgithub%2Fgitignore%2Fmaster%2FRuby.gitignore%0D%0Ahttps%3A%2F%2Fraw.github.com%2Fmozilla%2Faddon-sdk%2F262117fe2937b81a06bdec731b44ad8411d2dc94%2F.gitignore">.gitignore sample(C++, C#, Ruby, Firefox Add-on SDK)</a>
    %li <a href="view?q=https%3A%2F%2Fraw.github.com%2Fgist%2F1055806%2Fd33f211fd69ecbb343a5f6b951be89245ef90d15%2Fzip.rb%0D%0Ahttps%3A%2F%2Fraw.github.com%2Fgist%2F1055810%2Ffbd18b29a82d2e00f3dd861f3e3c32239ebb1607%2Funzip.rb%0D%0A">Ruby zip.rb, unzip.rb</a>
    %li <a href="view?q=http%3A%2F%2Fwww.emacswiki.org%2Femacs%2Ftortoise-svn.el%0D%0Ahttp%3A%2F%2Fwww.emacswiki.org%2Femacs%2Fanything-include.el">Ongaeshi's emacs lisp library.</a>
    