- @page_title = 'UcodeView'

%section
  %p Please input src code URL.
  %form(action='/view' method='get' name='view')
    %p
      #input
        %textarea(type='q' name='q' placeholder="http://www.emacswiki.org/emacs/download/tortoise-svn.el" rows="9" cols="74")
      %input(type='submit' value='OK')

  %h2 Example
  :blockcode
    http://www.emacswiki.org/emacs/download/tortoise-svn.el
    http://repo.or.cz/w/TortoiseGit.git/blob_plain/b56d7d297b615937e4a663a533349ede77e9cd9b:/src/TortoiseProc/AppUtils.h
    http://google-web-toolkit.googlecode.com/svn/trunk/dev/core/src/com/google/gwt/core/ext/BadPropertyValueException.java
  
  %h2 Link
  %ul
    %li <a href="/view?q=http%3A%2F%2Fwww.emacswiki.org%2Femacs%2Fdownload%2Ftortoise-svn.el">tortoise-svn.el</a><br>
    %li <a href="/view?q=http%3A%2F%2Frepo.or.cz%2Fw%2FTortoiseGit.git%2Fblob_plain%2Fb56d7d297b615937e4a663a533349ede77e9cd9b%3A%2Fsrc%2FTortoiseProc%2FAppUtils.h">TortoiseGit.git:src/TortoiseProc/AppUtils.h</a><br>
    %li <a href="/view?q=http%3A%2F%2Fgoogle-web-toolkit.googlecode.com%2Fsvn%2Ftrunk%2Fdev%2Fcore%2Fsrc%2Fcom%2Fgoogle%2Fgwt%2Fcore%2Fext%2FBadPropertyValueException.java">BadPropertyValueException.java</a><br>
    %li <a href="/view?q=http%3A%2F%2Frepo.or.cz%2Fw%2FTortoiseGit.git%2Fblob_plain%2Fb56d7d297b615937e4a663a533349ede77e9cd9b%3A%2Fsrc%2FTortoiseProc%2FAppUtils.h%0D%0Ahttp%3A%2F%2Fgoogle-web-toolkit.googlecode.com%2Fsvn%2Ftrunk%2Fdev%2Fcore%2Fsrc%2Fcom%2Fgoogle%2Fgwt%2Fcore%2Fext%2FBadPropertyValueException.java%0D%0Ahttp%3A%2F%2Fwww.emacswiki.org%2Femacs%2Fdownload%2Ftortoise-svn.el">AppUtils.h, BadPropertyValueException.java, tortoise-svn.el</a>
    