!!!

%html(lang='ja')
  %head
    %meta(charset='utf-8')
    %title= [@page_title, 'UcodeView'].compact.join(' - ')
    %link(rel='stylesheet' type='text/css'){:href => @stylesheet || 'css/style.css'}
    %link(rel='stylesheet' type='text/css'){:href => 'coderay.css'}

  %body
    %header
      %h1 <a href=".">UcodeView</a>

    #contents
      != yield

    %script{:type=>"text/javascript"}
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-13136329-8']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    %hr

    %footer
      %p
        ! Develop by <a href="./contact.html">ongaeshi</a>
        ! Ucodeview <a href="./history.html">History</a>
        ! Powered by <a href="http://www.ruby-lang.org/">Ruby</a> #{::RUBY_VERSION},
        ! <a href="http://www.sinatrarb.com/">Sinatra</a> #{Sinatra::VERSION}
