!!! 5
%html
  %head
    %title #{@title}
    %meta{:"http-equiv"=>"Content-Type", :content=>"text/html", :charset=>"utf-8"}
    %link(rel='stylesheet' href='/site.css' type='text/css' media='screen' title='default style sheet')
    %link(rel='stylesheet' href='/coderay.css' type='text/css' media='screen' title='coderay css')

  %body
    != yield
    %footer
      %p Develop by <a href="http://ongaeshi.me/">ongaeshi</a>.



